<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Blog Mania!</h1>
          <p>Welcome to blog-mania! Here you can post blogs and comment on pre-created ones. Don't be shy to get stuck in.</p>
        </div>
      </div>
